<%= render @group %>

<div>
  <%= link_to "Back to categories", user_groups_path(params[:user_id]) %>

  <%= button_to "Delete category", user_group_path(params[:user_id], @group), method: :delete %>

  <div id="entities">
  <% @entities.each do |entity| %>
  <% if can? :read, entity %>
  <% if entity.groups.any? { |group| group.id == params[:id].to_i } %>
    <div>
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entity.amount %>
  </p>
<% end %>
</div>
    <p>
    <%#  <%= link_to "Show this entity", user_group_entity(params[:user_id, :group_id]), entity.id %>
    </p>
  <% end %>
</div>

<% end %>
<%= link_to "New transaction", new_user_group_entity_path(params[:user_id], params[:id]) %>
</div>
